@media only screen and (max-width: 1920px) {
  .status-bar {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    margin: 10px;
  }

  .menu-bar div:nth-child(1),
  .menu-bar div:nth-child(4) {
    display: none;
  }

  .menu-bar div:nth-child(3),
  .menu-bar div:nth-child(5) {
    display: flex;
  }
}

@media only screen and (max-width: 960px) {
  .status-bar {
    display: none;
  }

  .menu-bar div:nth-child(3),
  .menu-bar div:nth-child(5) {
    display: none;
  }

  .menu-bar div:nth-child(1),
  .menu-bar div:nth-child(4) {
    display: inline;
  }
}

.position-temperature {
  font-weight: bold;
  margin-left: 5px;
}
.location {
  font-weight: bold;
  margin-left: 5px;
}

.date-status {
  color: grey;
  margin-left: 30px;
}

.header-right {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
}
.header-right {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.header-right a {
  margin-left: 20px;
  text-decoration: none;
  color: #000;
  font-weight: bold;
}

.header-right .social-icons {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin: 00 30px;
  cursor: pointer;
  align-items: center;
}

.menu-bar {
  background-color: rgb(3, 3, 128);
  height: 80px;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  width: 100%;
}

@media only screen and (max-width: 1920px) {
  .menu-bar {
    background-color: rgb(3, 3, 128);
  }

  .menu-bar div:nth-child(2) h3 {
    color: white;
    margin-bottom: 0;
  }

  .menu-bar div:nth-child(2) h5 {
    color: white;
    margin-top: 0;
  }

  .menu-bar div:nth-child(1) svg {
    color: white;
  }
}

@media only screen and (max-width: 960px) {
  .menu-bar {
    background-color: white;
  }

  .menu-bar div:nth-child(2) h3 {
    color: rgb(3, 3, 128);
    margin-bottom: 0;
    font-size: 150%;
  }

  .menu-bar div:nth-child(2) h5 {
    color: rgb(3, 3, 128);
    margin-top: 0;
    font-size: 150%;
  }

  .menu-bar div:nth-child(1) svg {
    color: rgb(3, 3, 128);
  }

  .menu-bar {
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }
}

@media only screen and (max-width: 1920px) {
  #breaking-news-for-laptop {
    display: inline;
  }

  #breaking-news-for-phone {
    display: none;
  }
}

@media only screen and (max-width: 960px) {
  #breaking-news-for-laptop {
    display: none;
  }

  #breaking-news-for-phone {
    display: inline;
  }

  .breaking-news-and-button-readmore {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    width: 100%;
  }

  #breaking-news-for-phone h3 {
    font-size: 300%;
  }
}

.menu-option {
  display: flex;
  flex-flow: row wrap;
  width: 50%;
  justify-content: space-around;
}

.menu-option-selection {
  color: white;
  font-size: 20px;
  font-weight: bold;
}
.menu-option-selection:hover {
  color: orange;
  cursor: pointer;
}
.navbar-account {
  font-size: large;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding-right: 10px;
}

.navbar-account-title {
  text-decoration: none;
  color: white;
  font-weight: bold;
}

#breaking-news {
  border-bottom: 5px solid black;
  display: inline-block;
  padding-bottom: 5px;
  font-weight: bold;
}

.category-text {
  color: rgb(236, 160, 66);
  font-weight: bold;
}

.locket-text {
  background-color: rgb(19, 19, 139);
  color: white;
  text-align: center;
  padding: 0 10px 1px 10px;
  margin: 10px 0;
  font-weight: normal;
  display: inline;
}

.main-content {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}

.popular-content {
  display: flex;
  flex-flow: column wrap;
  align-items: center;
}

@media only screen and (max-width: 960px) {
  .image-phone-responsive {
    width: 100%;
    height: auto;
  }
}

.subscribe-box {
  background-color: black;
  padding: 10px 20px;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
}

.left-hot-news-area {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 0;
}

.hot-news-title {
  font-weight: bold;
  margin-bottom: 20px;
  color: black;
}

#super-hot-container {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
}

@media only screen and (max-width: 1920px) {
  .war-in-ukraine-1 {
    display: inline;
  }

  .war-in-ukraine-2 {
    display: none;
  }
}

@media only screen and (max-width: 960px) {
  .war-in-ukraine-1 {
    display: none;
  }

  .war-in-ukraine-2 {
    display: inline;
  }
}

.technology-div {
  display: flex;
  flex-flow: column wrap;
  justify-content: flex-end;
  width: 49%;
  aspect-ratio: 1 / 1;
  background-repeat: none;
  background-size: cover;
  background-image: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0) 60%,
      rgba(0, 0, 0, 0.7) 100%
    ),
    url(images04/no_img.jpg);
  padding: 20px 20px 0 10px;
  margin-bottom: 20px;
}

.technology-div:nth-child(3),
.technology-div:nth-child(4),
.technology-div:nth-child(5) {
  width: 32%;
}

@media only screen and (max-width: 960px) {
  .technology-div:nth-child(1),
  .technology-div:nth-child(2),
  .technology-div:nth-child(3),
  .technology-div:nth-child(4),
  .technology-div:nth-child(5) {
    width: 100%;
  }

  .row .col.col-12 .left-hot-news-area h3 {
    font-size: 200%;
  }
}

.technology-button {
  background-color: orange;
  color: white;
  border: none;
  padding: 5px 15px;
  align-self: flex-start;
  font-size: 24px;
  margin-bottom: 20px;
}

.destinations-container {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  padding: 10px 0;
}

.destination-child-title {
  font-weight: bold;
  font-size: 18px;
  width: 70%;
}

.destinations-child-image {
  width: 30%;
}

.world-of-women-hot-container {
  margin: 0 0 20px 0;
  padding: 0;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
}

.world-of-women-hot-child {
  width: 49%;
  display: flex;
  flex-flow: row wrap;
  align-items: center;
}

.world-of-women-chill-child {
  width: 19%;
}

@media only screen and (max-width: 1980px) {
  .world-of-women-hot-container {
    display: flex;
  }

  .world-of-women-hot-container-phone {
    display: none;
  }
}

@media only screen and (max-width: 960px) {
  .world-of-women-hot-container {
    display: none;
  }

  .world-of-women-hot-container-phone {
    display: inline;
  }
}

.subscribe-ad-text {
  font-size: 25px;
  font-family: "Clarendon", "Roboto Slab", "Serif";
  font-weight: bold;
}

#subcribe-email-input {
  width: 100%;
  padding: 5px 20px;
  font-size: 26px;
  margin-top: 10px;
  border: 1px solid rgb(206, 206, 206);
}

#readed-checkbox {
  width: 32px;
  height: 32px;
  margin-top: 20px;
}

.page-item-custom.active .page-link {
  background-color: rgb(19, 19, 139);
  border-color: rgb(19, 19, 139);
  color: #fff;
  width: 40px;
  height: 40px;
  line-height: 40px;
  border-radius: 0;
  text-align: center;
  padding: 0;
}

.page-item-custom .page-link {
  color: black;
  margin: 0 5px;
  width: 40px;
  height: 40pxx;
  line-height: 40px;
  border-radius: 0;
  text-align: center;
  padding: 0;
  border: none;
  font-size: 24px;
}

.disabled .page-link {
  color: black;
  width: 80px;
  height: 80px;
  line-height: 80px;
  border-radius: 0;
  text-align: center;
  padding: 0;
  border: none;
  font-size: 24px;
  background-color: transparent;
}

footer {
  padding-top: 60px;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
}

.logo-social-media {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  background-color: transparent;
  width: 100%;
  align-items: center;
  gap: 100px;
}

.socal-media {
  display: flex;
  flex-flow: row wrap;
  gap: 10px;
}

.category-footer {
  margin-top: 40px;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  width: 70%;
}

.category-footer > .active {
  color: rgb(236, 160, 66);
}

.option-footer {
  display: flex;
  flex-flow: row wrap;
  width: 100%;
  justify-content: space-around;
  margin-top: 40px;
  padding: 20px;
}

.option-footer-child {
  width: 20%;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: flex-start;
}

.option-footer-child h3,
.option-footer-child h5,
.option-footer-child p {
  width: 100%;
}

@media only screen and (max-width: 960px) {
  footer .option-footer-child {
    width: 100%;
  }
  .exclusive {
    overflow: hidden;
  }
  #burgerMenu {
    width: 100vw;
    max-width: 100vw;
  }

  #burgerMenu .offcanvas-title {
    font-weight: bold;
  }

  #burgerMenu ul {
    margin-left: 40px;
  }

  #burgerMenu a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    font-size: 120%;
  }

  #burgerMenu a:hover {
    color: blue;
  }

  #burgerMenu li {
    margin-top: 10px;
    margin-bottom: 10px;
  }
}
